
.list-table {

  .header {
    display: inline-block;
    width: 100%;
    background-color: $brand-primary;
    color: white;
    padding: 10px 10px 10px 10px;
    margin-bottom: 0px;
  }

  .filters {
    padding: 10px 10px 10px 10px;
    display: inline-block;
    width: 100%;
    border-bottom: 2px solid $brand-primary;
    background-color: #e4fffa;
  }

  .item {
    padding: 10px 10px 10px 10px;
    display: inline-block;
    width: 100%;
  }
  .footer {
    background-color: $brand-primary;
    color: white;
    padding: 10px 10px 10px 10px;
    display: inline-block;
    width: 100%;
  }
  .m-title {
    display: none;
  }
  @media (max-width: $screen-xs-max) {
    .m-title {
      display: inline-block;
      font-weight: bold;
    }
  }
}