//Float helpers
.fl {
  float: left;
}

.fr {
  float: right;
}

//Text Align helpers
.tal {
  text-align: left;
}

.tac {

  text-align: center;
}

.tar {
  text-align: right;
}

//Width helpers
.w50p{
  width: 50%;
}