.auth-panel {

  .panel-heading {

    cursor: pointer;
  }

  .panel-body {

    display: none;

    &.visible {
      visibility: visible;
      height: 100%;
      display: block;

    }
  }
}

.auth-control {

  width: 200px;
  li {
    width: 200px;
    .dropdown {
      width: 200px;
    }
  }
}