<script>

    var utils = require('../../utils.js')
    export default {
        data: function () {
            return {
                loaded: false,
                contentLoaded: false,
                fields: {
                    url: new utils.Field(),
                },
            }
        },
        props: ['scrape'],
        methods: {
            resetFields(){
                this.fields.url = utils.Field();
            },
            save: function (e) {


                this.resetFields();
                var local = this;
                this.$http.post('/scrapes/', this.scrape).then(function (request) {

                            this.scrape.id = request.data.data.id
                            var eventHub = new Vue()
                            if (request.data.result)
                                this.$parent.$emit('noty', new utils.Noty('success', '<strong>Scrape</strong> saved with success', 3000, null));
                            else
                                this.$parent.$emit('noty', new utils.Noty('danger', request.data.data, 3000, null));
                        },
                        function (request) {

                            this.$parent.$emit('noty', new utils.Noty('danger', request.data.data, 3000, null));
                            local.bindErrors(request);

                        });

                e.preventDefault();

            },
            loadContent: function () {
                this.resetFields();
                var local = this;

                this.$http.get('/scrapes/load', {params: local.scrape}).then(function (request) {

                    local.scrape.content = request.data.data;
                    local.bindFrame();
                    local.contentLoaded = true;

                }, function (request) {

                    this.$parent.$emit('noty', new utils.Noty('danger', request.data.data, 3000, null));
                    local.bindErrors(request);
                })



            },
            bindFrame: function () {
                $('#contents').contents().find('body').html(this.scrape.content);
            },

            bindErrors: function (request) {

                for (var key in request.data.fields) {
                    var field = request.data.fields[key];

                    if (this.fields[key] != undefined)
                        this.fields[key] = field;

                }
            },
            clear: function () {

                this.scrape.content = "";
                $('#contents').contents().find('body').html("");
                this.contentLoaded = true;
            }

        },
        ready: function () {
            this.loaded = true;

            if(this.scrape.id > 0)
            {
                $('#contents').contents().find('body').html(this.scrape.content);
                this.contentLoaded = true;
            }

        }
    }
</script>