<script>
    var utils = require('../../utils.js')

    export default {
        data: function () {
            return {
                data: [],
                params: {
                    skip: 0,
                    take: 10,
                    page: 0,
                    filters: {
                        url: '',
                    },
                    sorts: {}
                },
                page: {
                    sizes: [10, 20, 50, 100],
                    pages: []
                }
            }
        },
        methods: {
            bind: function () {

                var local = this;
                this.$http.get('/scrapes/all', {params: local.params}).then(function (request) {

                    local.setData(request.data.data, request.data.pages);

                }, function () {

                })
            },
            rebind: function () {
                console.log(this.params.filters.name);
                this.bind();

            },
            setData(records, pages){

                this.data = records;
                this.page.pages = [];

                for (var i = 0; i < pages; i++) {

                    this.page.pages.push(i);
                }

            },
            changeSize: function (size) {

                this.params.take = size;
                this.bind();
            },
            changePage: function (page) {
                this.params.page = page;
                this.params.skip = this.params.take * page;
                this.bind();
            },
            removeConfirm: function (item) {
                console.log("remove");
                z = this;
                $("html, body").animate({scrollTop :0}, '500');
                this.$parent.$emit('noty', new utils.Noty('warning', 'Are you sure about to delete <strong>' + item.url + '</strong> Scrap ?', null, 'removeScrape(' + item.id + ')'));

            }

        },
        events: {
            removeScrape: function (id) {

                this.$http.delete('/scrapes/' + id).then(function (request) {

                    if (request.data.result) {
                        this.$parent.$emit('noty', new utils.Noty('success', 'Word remove with success', 3000, null));
                        this.rebind();
                    }
                    else
                        this.$parent.$emit('noty', new utils.Noty('danger', request.data.data, 3000, null));


                }, function (request) {

                    this.$parent.$emit('noty', new utils.Noty('danger', 'An error ocurred when removind the item', 3000, null));

                });
            }
        },
        ready: function () {
            this.rebind();
        }

    };


</script>
